<div class="container">

    <h2>Configuration:</h2>
    <div>
      <label for="domainURL">Domain URL:</label>
      <input type="text" id="domainURL" #domainURL>
    </div>
    <div>
      <label for="articles_xpath">Articles XPath:</label>
      <input type="text" id="articles_xpath" #articlesXpath>
    </div>
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" #title>
    </div>
    <div>
      <label for="body">Body:</label>
      <input type="text" id="body" #body>
    </div>
    <div>
      <label for="author">Author:</label>
      <input type="text" id="author" #author>
    </div>
    <div>
      <label for="Date">Date:</label>
      <input type="text" id="Date" #date>
    </div>
    <button (click)="addConfiguration(domainURL.value, articlesXpath.value, title.value, body.value, author.value, date.value)">Add Configuration</button>
  </div>
  