<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <!-- Overview Button -->
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url === '/'" (click)="navigateToOverview()">Overview</a>
        </li>
        <!-- Configuration Button -->
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url === '/configuration'" (click)="navigateToConfiguration()">Add sites</a>
        </li>
      </ul>
      <ul class="nav nav-tabs ml-auto"> <!-- Align items to the right -->
        <li class="nav-item">
            <a class="nav-link red-link" (click)="delete_user_data()">Delete My Data</a>
          </li>
          <br>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Log out</a>
        </li>
        
      </ul>

    </div>
  </nav>
  
  <!-- Router Outlet for rendering the selected component content -->
  <router-outlet></router-outlet>
  